<ol>
  <div class="container">
    <div class="space">
      <div class="card">
        <div class="card-header">
          <p class="lead medium">
            DishName
          </p>
        </div>
      </div>
      <li ng-repeat="items in $ctrl.list">
        <div class="card">
          <!-- Head -->
          <div class="card-header">
            <p class="head">
               {{items.short_name}} || {{items.name}}
            </p>
          </div>

          <!-- Body -->
          <div class="card-body">
              <!-- Description -->
              <p class="lead medium">Description:</p>
              <div class="container">
                <p class="lead">
                  {{items.description}}
                </p>
              </div>

              <!-- Price -->
              <p class="lead medium">Price: </p>
              <div ng-if="items.price_small">
                <p class="lead">Small Order: {{items.price_small | currency: $}}</p>
              </div>
              <div ng-if="items.price_large">
                <p class="lead">Large Order: {{items.price_large | currency: $}}</p>
              </div>

          </div>

        </div>
      </li>
    </div>
  </div>
</ol>
