<div class="container">
  <div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <figure class="figure">
        <img class="d-block w-100 carousel-img" src="images/car1.jpg" alt="First slide">
        <figcaption class="font-caption float-right">Enjoy authentic chinese cuisine</figcaption>
    </figure>
    </div>
    <div class="carousel-item carousel-img">
    <figure class="figure">
      <img class="d-block w-100" src="images/car2.jpg" alt="Second slide">
      <figcaption class="font-caption float-right">Enjoy authentic chinese cuisine</figcaption>
    </figure>
    </div>
    <div class="carousel-item carousel-img">
      <figure class="figure">
        <img class="d-block w-100" src="images/car3.jpg" alt="Third slide">
        <figcaption class="font-caption float-right">Affordable</figcaption>
      </figure>
    </div>
  </div>
</div>
</div>
